<div class="container">
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="text-center pb-5">
        <p class="d-flex justify-content-center pt-5">
          <%= image_tag 'about.png', size: "1650x360", class: "mx-auto d-block"%>
        </p>
        <div class = "pt-5">
          <h5 style = "width: 100%; margin-top: 5px; margin-left: 20px; text-align: center">
            私は人々のタンパク質不足を担うためにこのサイトを開設しました。</br>
            </br>
            なぜなら、いま日本人のタンパク質摂取量は1950年代と同じくらい落ち込んで</br>
            </br>
            います。忙しい中で健康を保つのは難しいです。そこで気軽に美味しく摂取でき</br>
            </br>
            るプロテインを知ってもらえるレビューサイトがあれば、皆様の健康促進を担えると思い</br>
            </br>
            このサイトを開設しました。</br>
            </br>
            ぜひ、ご活用ください。</br>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
