<%= render "public/posts/flash_message" %>
<div class="d-flex align-items-center justify-content-center" style="background-image: url('<%= asset_path 'Top.jpg' %>'); background-size: cover; width: 100%; height: 830px;">
  <div class="container">
    <div class="row">
      <div class="col-9 text-center text-white" style="width: 100%; margin-top: 25px; margin-left: 100px; text-align: center">
        <div style="background-color: rgba( 0, 0, 0, 0.5);">
          <h2>ようこそ、<strong>プロテインチャージ</strong>へ</h2>
          <p>プロテインチャージではあなたの不足しているタンパク質を</p>
          <p>好きな味のプロテインで補うことを目的としているレビューサイトです。</p>
          <p>きっと、あなた好みのプロテインが見つかる！</p>
        </div>
      </div>
    </div>
  </div>
</div>


